.form-group{
    padding:40px;
}
.Submitbtn {
text-align: center;
}
.form-group {
    color:black;
    font-family: 'Bebas Neue', cursive;
}

.nav-link {
    font-family: 'Bebas Neue', cursive;
}
.navbar-brand {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}
.card {
    font-family: 'Bebas Neue', cursive;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,48,253,1) 31%, rgba(252,176,69,1) 100%);
    
}
.row {
    font-family: 'Bebas Neue', cursive;
}
p {
    font-size: 25px;
}
.card-body{
    border-style: groove;
    border-color: black;
}
.img {
    border-style: groove;
    border-color:black;
    border-width: 5px;
}

h1 {
    text-align: center;
}

@media screen and (max-height: 768px)
@media screen and (max-width: 480px)
